<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ges_auto">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GES_AUTO">
        <activity android:name=".Practicas"></activity>
        <activity android:name=".deleteAlumno" />
        <activity android:name=".updateAlumno" />
        <activity android:name=".CrearAlumno" />
        <activity android:name=".CrearProfesor" />
        <activity android:name=".deleteProfesor" />
        <activity android:name=".UpdateProfesor" />
        <activity android:name=".Alumnos" />
        <activity android:name=".Profesores" />
        <activity android:name=".ServidorPreferncia" />
        <activity android:name=".InicioProfesor" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>